/* Main container */
.Landing {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

/* Crosshair */
.crosshair {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  pointer-events: none;
  z-index: 1000;
}

.crosshair::before,
.crosshair::after {
  content: '';
  position: absolute;
  background-color: white;
}

.crosshair::before {
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  transform: translateY(-50%);
}

.crosshair::after {
  top: 0;
  left: 50%;
  width: 2px;
  height: 100%;
  transform: translateX(-50%);
}

/* Image track container */
.image-track {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 4vmin;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-46%, -50%);
}

.image {
  object-position: 4.4% center;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  object-fit: cover;
  object-position: 50% center;
}

/* Left column */
.track-column-left {
  display: flex;
  flex-direction: column;
  gap: 4vmin;
}

.left-up {
  display: flex;
  gap: 4vmin
}

.left-down {
  display: flex;
  gap: 4vmin
}


.track-column-right-2 {
  display: flex;
  flex-direction: column;
  gap: 4vmin;
}

.right-up {
  display: flex;
  gap: 4vmin;
}

.right-down {
}

/* Card styles */
.card {
  background-color: gray;
}


.card-1,
.card-1 > img {
  aspect-ratio: 2 / 2;
  height: calc(30vh - 2vmin);
}


.card-2,
.card-2 > img {
  aspect-ratio: 2 / 1;
  height: calc(30vh - 2vmin);
}

.card-3,
.card-3 > img {
  aspect-ratio: 75 / 50;
  height: calc(30vh - 2vmin);
}

.card-3 > img {
  object-position: 50% 80%;
}

.card-4,
.card-4 > img {
  aspect-ratio: 1 / 1;
  height: calc(30vh - 2vmin);
}

.card-5,
.card-5 > img {
  aspect-ratio: 1 / 1;
  height: 60vh;
}

.card-6,
.card-6 > img {
  aspect-ratio: 1 / 2;
  height: 60vh;
}

.card-7,
.card-7 > img {
  aspect-ratio: 2 / 1;
  height: calc(30vh - 2vmin);
}

.card-8,
.card-8 > img {
  aspect-ratio: 1 / 1;
  height: calc(30vh - 2vmin);
}

.card-9,
.card-9 > img {
  width: calc(75vh - 1vmin);
  height: calc(30vh - 2vmin);
}



